<footer class="footer">
    <div class="footer-info">
        <a href="https://www.fi.uncoma.edu.ar" class="footer-logo-link">
            <img src="../images/fai-logo.png" alt="Logo de la facultad" class="footer-logo">
        </a>
        <div class="footer-uni">
            <p>Facultad de informática</p>
            <p>Universidad Nacional del Comahue</p>
        </div>
        <p>-</p>
        <ul class="footer-contacto">
            <li><a href="mailto:donato.trobbiani@est.fi.uncoma.edu.ar" class="footer-contacto-link">Donato Trobbiani
                    Perales</a></li>
            <li>-</li>
            <li><a href="mailto:gianfranco.gallucci@est.fi.uncoma.edu.ar" class="footer-contacto-link">Gianfranco
                    Nicolás Gallucci</a></li>
        </ul>
    </div>
    <div class="footer-info">
        <p>&copy; 2025 Thorneos. Proyecto para Laboratorio de programación 2025</p>
    </div>
</footer>