:root {
    /* ! Variables CSS, utilizar con var(nombre)*/
    --color-primario-1: rgb(212, 203, 114);
    --color-primario-2: rgb(175, 165, 73);
    --color-primario-3: rgb(59, 55, 19);
    --color-primario-4: rgb(53, 46, 15);
    --color-secundario-1: rgb(85 30 35);
    --color-secundario-2: rgb(114 51 57);
    --color-secundario-3: rgb(255 178 183);
    --color-secundario-4: rgb(255 218 219);
    --color-error-1: rgb(255 218 214);
    --color-error-2: rgb(255 180 171);
    --color-error-3: rgb(147 0 10);
    --color-error-4: rgb(105 0 5);
    --color-fondo-1: rgb(18 19 24);
    --color-fondo-2: rgb(26, 31, 36);
    --color-fondo-3: rgb(30, 33, 36);
    --color-fondo-4: rgb(44, 44, 51);
    --color-borde-1: rgb(141 145 153);
    --color-borde-2: rgb(67 71 78);

    --fuente-primaria: "Archivo Black", sans-serif;
    /* Títulos y encabezados, weight 400 */
    --fuente-secundaria: "Montserrat", sans-serif;
    /* Cuerpo de texto, weight 100-900 */
}

/** Documento global */
body {
    background-color: var(--color-fondo-1);
    color: white;
    font-family: var(--fuente-secundaria);

    margin: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

/** Header */
#main-header {
    grid-row: 1;
    /* background: linear-gradient(90deg, var(--color-2), var(--color-3)); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: var(--color-primario-1);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 12px 12px;
    background-color: var(--color-fondo-1);
}

/** Navegación */
#nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(0rem, 2vw, 4rem);
}

/** Header */
#main-header h1 {
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    letter-spacing: .1rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

/** Lista de links */
#nav-links {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: end;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

/** Links de navegación */
#nav-links a {
    color: var(--color-secundario-3);
    background-color: var(--color-secundario-1);
    font-weight: 400;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    transition: all 0.3s ease;
    justify-content: end;
    text-decoration: solid underline transparent;
    text-underline-offset: 0.3rem;
    padding: 0.2rem 1rem;
    border-radius: 8px;
}

/** Hover: links de navegación */
#nav-links a:hover {
    color: var(--color-secundario-4);
    background-color: var(--color-secundario-2);
}

/** Banner */
#banner {
    grid-row: 2;
    display: grid;
    gap: 4rem;
    padding: 2rem;
    min-height: 40rem;
    background: linear-gradient(to left, rgb(0 0 0 / 0), rgb(0 0 0 / 1)), url(images/Banner-fondo.png);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid var(--color-primario-1);
    /** pendiente sombra*/
}

/** Columnas del banner */
#banner div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner h1 {
    font-family: var(--fuente-primaria);
    font-size: clamp(2rem, 5vw, 3rem);
    text-transform: uppercase;
    color: var(--color-primario-1);
    text-shadow: 2px 2px 4px var(--color-borde-2);
    letter-spacing: 0.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5rem;
}

#banner p {
    max-width: 600px;
    font-family: var(--fuente-secundaria);
    font-size:larger;
    font-weight: 900;
    color: white;
    margin:0 auto;
}

/** Main */
main {
    grid-row: 3;
    background-color: var(--color-fondo-1);
}

/** Torneos */
#torneos {
    padding: 1rem 0 2rem 0;
    background: #262603;
    background: linear-gradient(90deg, rgba(38, 38, 3, 1) 0%, rgba(18, 19, 24, 1) 50%, rgba(38, 4, 7, 1) 100%);
}

/** Caja "énfasis torneos" */
.torneos-box {
    padding: 1rem;
    max-width: 20rem;
    background-color: var(--color-secundario-2);
    margin: 2rem auto;
    letter-spacing: 0.2rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(29, 26, 26, 0.2);
    font-size: 0.9rem;
}

.torneos-box h1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--color-secundario-4);
}

.torneos-box p {
    margin: 1rem 0;
    text-decoration: solid underline;
    text-underline-offset: 0.5rem;
    font-weight: bold;
    color: var(--color-secundario-3);
}


/** Tabla de torneos */
#torneos-list {
    width: 90vw;
    max-width: 90vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease 0s;
    font-weight: 600;
}

#torneos-list:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#tabla-torneos {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: white;
    background-color: var(--color-fondo-2);
    min-width: 600px;
}

#tabla-torneos th,
td {
    padding: 0.65rem;
    text-align: center;
    border-bottom: 1px solid var(--color-1);
    vertical-align: middle;
    width: 5rem;
}

#tabla-torneos th {
    padding: 2rem;
    background-color: var(--color-fondo-3);
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--color-primario-1);
    color: var(--color-primario-2);
}

#tabla-torneos tr {
    transition: all 0.5s ease;
}

#tabla-torneos tr:hover {
    background-color: var(--color-primario-3)
        /* 0.5 = 50% opacity */
}

.tabla_portada {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.tabla_nombre {
    font-size: 1.05rem;
}

.tabla_disciplina {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    font-size: 0.9rem;
    color: white;
    background: var(--color-secundario-2);
}

/* Estilos para los tags */
.tabla_tags_lista {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style-type: none;
    max-width: 250px;
}

.tabla_tag {
    background: var(--color-secundario-2);
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    font-size: 0.8rem;
    white-space: nowrap;
}

.tabla_participantes,
.tabla_formato {
    padding: 0.4rem 0.8rem;
    border-radius: 12px;
    display: inline-block;
    background: var(--color-secundario-2);
    font-size: 0.9rem;
}

.tabla_estado {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: inline-block;
}

.estado-sin-comenzar {
    background: rgba(212, 172, 13, 0.2);
    color: #d4ac0d;
}

.estado-en-curso {
    background: rgba(29, 131, 72, 0.2);
    color: #1d8348;
}

.estado-finalizado {
    background: rgba(192, 57, 43, 0.2);
    color: #c0392b;
}

.tabla_btn_explorar {
    background-color: var(--color-secundario-2);
    border: none;
    color: var(--color-secundario-3);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.tabla_btn_explorar:hover {
    color: var(--color-secundario-4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

/** Footer */
footer {
    grid-row: 4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-fondo-2);
    text-align: center;
    font-size: clamp(0.7rem, 1vw, 1rem);
    gap: 1rem;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
    border-top: 2px solid var(--color-primario-1);
}

/** Bloques de información de footer */
.footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s;
}

/** Logo FAI*/
.footer-info img {
    width: clamp(50px, 10vw, 80px);
    height: auto;
    object-fit: contain;
    transition: all ease 0.3s;
}

.footer-info img:hover {
    filter: drop-shadow(0 0 5px var(--color-primario-3));
}

/** Texto FAI */
.footer-info p {
    margin: 0;
    color: var(--color-secundario-3);
}

/** Lista de autores */
.footer-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/** Links de contacto */
.footer-info a {
    color: var(--color-secundario-3);
    text-decoration: none;
}